html{
  font-family: sans-serif;
}
#container{
  text-align: center;
}
@media screen and (min-width: 480px) {
  img {
    height: 200px;
  }
}
@media screen and (max-width: 479px) {
  img {
    height: 50px;
  }
  p {
    font-size: 8px;
  }
}
